:root {
  /*Colors*/
  --transparent-bg: #00000050;
  --black-50: #0000009a;
  --white-50: #ffffff50;
  --principal-color: #44a1df;
  --secondary-color: #ffee00;
  /*Others*/
  --shadow: 1px 1px 10px #0000003a;
}
/* APP */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
/* Header */
.header {
  width: 100%;
  background-image: linear-gradient(#0000002a, #0000002a), url('/src/images/backgroud.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}
.filter {
  box-sizing: border-box;
  background-color: var(--white-50);
  width: 40%;
  max-width: 1200px;
  border-radius: 2rem;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.filter button {
  background: none;
  border: none;
  color: white;
}
.filter button:hover {
  cursor: pointer;
  color: var(--principal-color);
  font-weight: bold;
}
.date {
  max-width: 1250px;
  width: 45%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  color: white;
  font-size: 1.7rem;
  justify-content: center;
  align-items: center;
}
.dayNum, .month, .year, .day  {
  margin: 0;
}
.dayNum {
  font-size: 5rem;
  color: var(--secondary-color);
}
.year {
  font-weight: lighter;
}
@media (max-width:375px) and (max-width: 768px ) {
  .filter {
    width: 80%;
    background: none;
    grid-template-columns: 1fr;
  }
  .filter button {
    background-color: var(--white-50);
    margin-top: 10px;
    border-radius: 5rem;
    padding: 5px;
  }
  .date {
    width: 85%;
  }
}
@media (min-width:376px) and (max-width: 768px) {
  .filter {
    width: 80%;
  }
  .date {
    width: 85%;
  }
}
/* ToDo */
.todoContainer {
  max-height: 50vh;
  overflow: auto;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 1300px;
  position: relative;
  bottom: 3rem;
}
.todoItem {
  display: flex;
  width: 90%;
  margin-top: 10px;
  box-shadow: var(--shadow);
  border-radius: 2px;
  border-left: solid 10px var(--principal-color);
  position: relative;
  text-align: justify;
}
.todoItemCompleted-true {
  border-left: solid 10px var(--secondary-color);
}
.task {
  margin: 0.75rem 1rem;
  font-weight: bold;
}
.taskCompleted-true {
  text-decoration: line-through;
}
.student {
  margin: 0.5rem 1rem;
  color: var(--black-50);
}
.check {
  cursor: pointer;
  text-align: end;
  width: 7.5%;
  height: 2rem;
  background-color: var(--principal-color);
  color: white;
  position: absolute;
  top: 0;
  left: 92.5%;
  border: none;
  border-radius: 0 0 0 100%;
}
.check i {
  margin-right: 20%;
}
.checkCompleted-true {
  background-color: var(--secondary-color);
  color: black;
}
.delete {
  color: black;
  background: none;
  border: none;
  align-self: flex-start;
  padding: 10px;
  font-size: 1.1rem;
}
.delete :hover {
  cursor: pointer;
  color: red;
}
.empty {
  font-weight: bold;
  font-size: 1.25rem;
  padding-bottom: 1rem;
}
@media (max-width: 376px ) {
 .check {
   width: 20%;
   left: 80%;
 }
 .empty {
  font-size: 0.9rem;
  }
}
@media (min-width:377px) and (max-width: 576px ) {
 .check {
   width: 10%;
   left: 90%;
 }
 .empty {
  font-size: 1.1rem;
  }
}
@media (max-width: 768px) {
  .delete {
    color: red;
  }
  .todoContainer {
    width: 95%;
  }
}
/* Create Button */
.createButton {
  color: var(--principal-color);
  border-radius: 50%;
  border: none;
  box-shadow: var(--shadow);
  font-size: 3rem;
  padding: 0.5rem 1.25rem;
}
.createButton:hover {
  cursor: pointer;
  background-color: var(--principal-color);
  color: white;
}
/*Form*/
.formBg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--transparent-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  box-shadow: var(--shadow);
  position: relative;
  background-color: white;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.form h2 {
  margin: 0;
}
.form label p {
  font-weight: bold;
  margin: 0.5rem
}
.form input {
  padding: 5px;
}
.form button.submit {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.5rem;
  width: 75%;
  background-color: var(--principal-color);
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
.closeCreate {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
}
.closeCreate:hover {
  color: red;
}
.modal-false {
  animation: modalFalse 0.25s ease-out;
  visibility: hidden;
}
.modal-true {
  animation: modalTrue 0.25s ease-in;
  visibility: visible;
}
@keyframes modalTrue {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes modalFalse {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
